* {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: #8fc0a9;
    font-family: sans-serif;
}

header {
    background-color: #68b0ab;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1020;
}

h1 {
    text-align: center;
    padding: 2rem 1rem 1rem;
    font-size: 3rem;
    color: rgb(56, 56, 56);
    letter-spacing: 4px;


}

h2 {
    text-align: center;
    padding: 0rem 1rem 2rem;
    ;
    color: #424242;
}

.divCalc {
    width: 40%;
    background-color: #c8d5b9;
    display: flex;
    flex-flow: column;
    padding-bottom: 3rem;
    padding-top: 1rem;
    border: 3px solid #555555;
    margin: auto;
    align-items: center;

}

.calc div {
    padding-top: 2rem;
    padding-bottom: 1rem;
}


.resultado {
    font-family: 'Trebuchet MS';
    font-size: x-large;
    color: rgb(66, 66, 66);
    padding: 2rem;
    justify-content: left;

}

.resultado span {
    color: #faf3dd;
}

.operaciones {
    display: inline-block;
    text-align: center;

}

.datos {
    display: inline-block;
    text-align: center;

}

.btnOperacion {
    background-color: transparent;
    border: 3px solid #555555;
    color: #555555;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%;
    font-weight: bold;
}


.divInput {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.formContact div label {
    margin-bottom: 30px;
}

.contInput{
    padding-top: 1rem;
}
.contInput form {
    width: 40%;
    margin: auto;
    padding-bottom: 3rem;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.divInput input {
    background-color: rgb(255, 250, 182);
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
}

.contInput input:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.50);

}

.labelTyC {
    margin: 0 !important;
}

.btnEnviar {
    margin-top: 2rem;
    align-self: center;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: #6b92f7;
    cursor: pointer;
    font-size: 1.2rem;

}

.mensajeAlerta {
    color: tomato;
    margin-top: 5px;
    font-weight: bold;
}

.inputCheckbox {
    flex-direction: row;
    justify-content: space-around;
    /* justify eje actual */
    align-items: center;

}

.inputCheckbox>label {
    order: 2;
}

.inputCheckbox>small {
    order: 3;
}

.bgcAlert {
    background-color: rgb(255, 173, 159) !important;
}

.datos>.inputNum {
    background: silver;
    border: 2px solid #393939;
    border-radius: 5px 5px 5px 5px;
    color: #393939;
    font-size: 14px;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    margin: 1rem 1rem;
    width: 40%;

}

.btnHome{
    margin-top: 2rem;
    align-self: center;
    border: none;
    padding: 8px 13px;
    border-radius: 10px;
    background-color: #7c7c7c;
    cursor: pointer;
    font-size: 0.9rem;

}

.btnHome a{
    text-decoration: none;
    color: white;
}
